body {
  background-color: yellow;
}

p {
  color: red;
}

.container {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(100px, 2fr) minmax(150px, 3fr);
  grid-template-rows: 100px 200px 300px;
  grid-gap: 20px;
}

.item {
  background-color: #444;
  text-align: center;
  color: #fff;
}
